<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^.+~">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^.+\.(py|sh)">
    Order allow,deny
    Deny from all
</FilesMatch>
